body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  color: #519975;
  background: #211D1B;
  font-family: monospace;
  overflow-x: hidden;
  min-width: unset;
}

::selection {
  color: #211830;
  background-color: #519975;
}

textarea {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#liner::before {
  content: "visitante@kaiobarbosa:~$ ";
}

p {
  line-height: 1.3em;
  margin: 0;
  white-space: nowrap;
}

.command {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD;
}

.error {
  color: #B89076;
}

pre.ascii {
  margin: 0;
  font-family: monospace;
  white-space: pre;
  letter-spacing: normal;
  line-height: 1.1em;
  color: #519975;
}

@media (max-width: 768px) {
   body {
    font-size: 14px;
  }

  p {
    white-space: normal;
    word-break: break-word;
  }

  #command {
    position: relative;
  }

  textarea {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

pre.ascii {
  overflow-x: auto;
  max-width: 100%;
  padding-bottom: 4px;
}

pre.ascii::-webkit-scrollbar {
  height: 4px;
}
pre.ascii::-webkit-scrollbar-thumb {
  background: #519975;
}

.output {
  color: #DCDCCC;
}

.info {
  color: #519975;
}

.command-line {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD;
}

.error {
  color: #B89076;
}